@model ForSale.Models.Product


<div class="row">
    
     <div class="col-md-4">

         <h2>@Model.Title</h2>

         <div class="label label-success price">@Model.Price.Show()</div>

         <p>@Text(Model.Description)</p>

    </div>
    
    <div class="col-md-6">
        
        @foreach (var image in Model.RemoteImages)
        {
            <div class="row">
                <img src="http://i.imgur.com/@(image).jpg?" alt="Foto">
            </div>
        }
            

    </div>
    
</div>

@helper Text(string text)
{
    @Html.Raw(text.Replace("\n", "<br/>"))
}