/* html */
body {
    font-family: Segoe UI,Tahoma,sans-serif;
    color: #555;
}

table {
    width: 100%;
}

a, a:active {
   color: #006FD6
}

a:hover {
    color: #d66600;
}

td {
    padding: 2px 8px 2px 8px;
}

input {
    padding: 4px;
    font-family: Segoe UI,Tahoma,sans-serif;
    color: #202020;
    font-size: 100%;
}

/* ids */
#content {
    margin: 0px 20px 0px 20px;
}

/* classes */

.decimal {
    text-align: right;
}

.large {
    width: 400px;
}

.alert-success {
    color: darkgreen;
}

.alert-error {
    color: red;
}

.input-validation-error {
    background-color: #ffeaea;
}